NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y2xvc2luZy1jaG93LTc0LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_Z2iB4NV8g0iT1fa1esys3eNCPE4Owzo5JT9nm7UeVa


CONVEX_DEPLOYMENT=

#this will be automatic availabe when running npm i 
NEXT_PUBLIC_CONVEX_URL=

# you will get this after creating a webhoook on clerk 
CLERK_WEBHOOK_SECRET = 